/* Full-screen container */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  /* backdrop-filter: blur(10px); */
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/001.png"),
    /* Add a subtle cross pattern */
      radial-gradient(circle at 50% 50%, rgba(255, 223, 80, 0.2), transparent);
  background-size: 200px 200px, cover;
  /* background-repeat: repeat, no-repeat; */
  background-position: center, center;
  opacity: 0.1;
  z-index: -20;
}

/* Make the form appear smoothly */
.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Required Fields Notice */
.requiredNotice {
  font-size: 0.8rem;
  text-align: center;
  color: #d9534f;
  margin-bottom: 0.5rem;
}

/* Title */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7d4a48;
  text-align: center;
  margin: 0.5rem 0rem;
}

/* Form */
.form {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(8px); */
}

/* Labels */
.label {
  font-size: 1rem;
  font-weight: bold;
  color: #5a322f;
  margin-top: 10px;
}

/* Required Star */
.required {
  color: #d9534f;
}

/* Input Fields */
.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #b87d6b;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.input:focus,
.textarea:focus {
  border-color: #7d4a48;
  box-shadow: 0 0 8px rgba(125, 74, 72, 0.5);
}

/* Textarea */
.textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #b87d6b;
  font-size: 0.8rem;
  resize: vertical;
}

/* Submit Button */
.button {
  width: 100%;
  padding: 12px;
  background-color: #b87d6b;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.button:hover {
  background-color: #7d4a48;
}

/* Responsive */
@media (max-width: 480px) {
  .form {
    width: 95%;
  }

  .title {
    font-size: 1rem;
  }
  .label {
    font-size: 0.8rem;
  }
}
