/* Countdown Timer Container */
.container {
  width: 100%;
  height: 80px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 223, 186, 0.6)
  );
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Countdown Timer Title */
.h2 {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Countdown Timer Numbers */
.timer {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  /* .container {
    padding: 15px;
  } */

  .h2 {
    font-size: 0.8rem;
  }

  .timer {
    font-size: 0.8rem;
  }
}
