.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  z-index: 10000;
  /* background: rgba(0, 0, 0, 0.8); */
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.6) 20%,
      rgba(218, 165, 32, 0.15) 50%,
      rgba(0, 0, 0, 0.8) 80%
    ),
    url("/backgroundA.webp") center/cover no-repeat;
}

.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
