/* Remove previous CSS scrolling */
.pageContainer {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto; /* Allow normal scrolling */
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
